{% extends "base.html" %}

{% block head %}
    <title>Add Task</title>
{% endblock %}

{% block body %}
    <header>
        <h1>Welcome {{ username }}</h1>
    </header>

    <h2>To do list</h2>
    {% if tasks | length < 1 %}
        <h3>There are no tasks</h3>
    {% else %}
    <table class="roomy-table">
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Action</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.created.strftime("%D") }}</td>
                    <td>
                        <form action="{{ url_for('delete', id=task.id) }}" method="POST">
                            <input type="submit" value="Delete" id="btn_Del">
                        </form>
                        <br>
                        <a href="{{ url_for('update', id = task.id) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <form action="{{ url_for('home') }}" method="post">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add" id="btn_Add">
    </form>

    <footer>
        <p>&copy; Vincent Yuan</p>
    </footer>
{% endblock %}
