{% extends "base.html" %}

{% block head %}
    <title>Add Task</title>
{% endblock %}

{% block body %}
    <header>
        <h1>Welcome to your to-do list, <strong>{{ username }}</strong></h1>
    </header>

    {% if tasks | length < 1 %}
        <h3>There are no tasks</h3>
    {% else %}
    <table class="roomy-table">
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Action</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.created.strftime("%D") }}</td>
                    <td>
                        <form action="{{ url_for('delete', id=task.id) }}" method="POST">
                            <button id="btn_Del">Delete</button>
                        </form>
                        <br>
                        <a href="{{ url_for('update', id=task.id) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <form action="{{ url_for('home') }}" method="post">
        <input type="text" name="content" id="content">
        <button id="btn_Add">Add</button>
        <br>
        <a href="{{ url_for('logout') }}">Logout</a>
        <a href="{{ url_for('delete_user') }}">Delete User</a>
    </form>

    <footer>
        <p>&copy; Vincent Yuan</p>
    </footer>
{% endblock %}
