{% extends "base.html" %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}
    <header>
        <h1>To-Do List</h1>
    </header>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- Form for logging in -->
    <form id="form">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="Username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <input type="checkbox" onclick="togglePassword()">
        <br>
        <button id="btn_login" value="Login" onclick="setActionForm(this.value)">Login</button>
        <button id="btn_register" value="Register" onclick="setActionForm(this.value)">Register</button>
    </form>

    <hr>   

    <label for="saved_users">Saved users</label>
    <select name="saved_users" id="saved_users" onchange="fillBlanks(this)">
        <option selected disabled>-- Choose a saved login --</option>
        {% for user in users %}
            <option value="{{ user.username  }}">{{ user.username }}</option>
        {% endfor %}
    </select>
    <br>

    <script>   
        function setActionForm(action) {
            let form = document.querySelector('form');
            
            if (action.toLowerCase() == "register") {
                form.action = "{{ url_for('register') }}";
                form.method = "POST";
                form.submit();
            }
            else if (action.toLowerCase() == "login") {
                form.action = "{{ url_for('login') }}";
                form.method = "POST"; 
                form.submit();
            }
        }

        function togglePassword() {
            let passwordInput = document.querySelector('#password');
            
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }

        function fillBlanks(selectElement) {
            let selectedUser = selectElement.value;

            document.querySelector('#username').value = selectedUser;
            document.querySelector('#password').value = "";
        }
    </script>
{% endblock %}