<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- Link to stylesheet -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    {% block head %}{% endblock %}
</head>
<body>
    <main>
        <!-- The 'container' class will center the content and give it a card style -->
        <div class="container {% block container_class %}{% endblock %}">
            {% block body %}{% endblock %}
        </div>
    </main>
</body>
</html>
